@charset "UTF-8";
/* CSS Document */

/* Calculator Box */
.box {
	background-color: #e5e7ea;
	height: 300px;
	width: 250px;
	border-radius: 10px;
	position: relative;
	top: 80px;
	left: 40%;
}
/* Display */
.display {
	background-color: #bfc4ce;
	width: 220px;
	position: relative;
	left: 15px;
	top: 20px;
	height: 40px;
}
.display input{
	position: relative;
	left: 2px;
	top: 2px;
	height: 30px;
	width: 30px;
	width: 210px;
	color: black;
	background-color: #bccd95;
	font-size: 21px;
	text-align: right;
}